<div class="add-course-comp">


  <h3> Add New Course </h3>

  <div class="all-forms">

    <div class="form-input">
      <label for="name"> TITLE : </label>
      <input [(ngModel)]="course.title" name="title">
    </div>
    <div class="form-input">
      <label for="id"> ROOM : </label>
      <input [(ngModel)]="course.room" name="room">
    </div>
    <div class="form-input">
      <label for="id"> TIME : </label>
      <input [(ngModel)]="course.class_time" name="time">
    </div>

  </div>

  <div class="all-buttons">
    <div class="form-button add" (click)="clickAdd()"> ADD COURSE </div>
    <div class="form-button cancel" routerLink="/students"> CANCEL </div>
  </div>

</div>
