<div class="add-student-comp">


  <h3> Add New Student </h3>

  <div class="all-forms">

    <div class="form-input">
      <label for="name"> FIRST NAME : </label>
      <input [(ngModel)]="student.first_name" name="first_name">
    </div>
    <div class="form-input">
      <label for="name"> LAST NAME : </label>
      <input [(ngModel)]="student.last_name" name="last_night">
    </div>
    <div class="form-input">
      <label for="id"> GRADE : </label>
      <input [(ngModel)]="student.grade" name="grade">
    </div>
    <div class="form-input">
      <label for="id"> EMAIL : </label>
      <input [(ngModel)]="student.email" name="email">
    </div>

  </div>

  <div class="all-buttons">
    <div class="form-button add" (click)="clickAdd()"> ADD STUDENT </div>
    <div class="form-button cancel" routerLink="/students"> CANCEL </div>
  </div>

</div>
