/* COMPONENT */

.courses-comp {
  margin: 30px auto;
  width: 800px;
}


/* COMPONENT HEADER */

.courses-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


/* COLUMNS LABEL */

.courses-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 32px;
  background-color: rgb(235, 235, 235);
}


/* STUDENTS CONTAINER */

.courses-container {
  min-height: 0px;
  max-height: 300px;
  overflow: auto;
  text-align: center;
}

.courses-container::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
}

.courses-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}


/* STUDENT ITEM */

.courses-li {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 40px;
   border-bottom: solid 1px rgb(220, 220, 220);
}

.courses-li:hover {
  background-color: rgb(235, 245, 255);
  cursor: pointer;
  text-decoration: underline;
}


/* BUTTONS */

.add-button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 5px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: orange;
}

.add-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 3px rgb(180, 180, 180);
}







/* END */
