
<div class="courses-comp">

  <div class="courses-header">
    <h3> All Courses </h3>
    <div class="add-button" routerLink="/add-course"> + ADD NEW COURSE </div>
  </div>

  <div class="courses-cols">
    <h5> ID </h5>
    <h5> TITLE </h5>
    <h5> ROOM </h5>
    <h5> TIME </h5>
  </div>

  <div *ngIf="courses" class="courses-container">
    <div *ngFor="let course of courses" class="courses-li" routerLink="/courses/{{course.id}}">

      <p> {{course.id}} <p>
      <p> {{course.title}} </p>
      <p> {{course.room}} </p>
      <p> {{course.course_time}} </p>

    </div>
  </div>

</div>
