/* COMPONENT */

.students-comp {
  margin: 30px auto;
  width: 800px;
}


/* COMPONENT HEADER */

.students-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


/* COLUMNS LABEL */

.students-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 32px;
  background-color: rgb(235, 235, 235);
}


/* STUDENTS CONTAINER */

.students-container {
  min-height: 0px;
  max-height: 400px;
  overflow: auto;
  border-top: solid 1px rgb(220, 220, 220);
  border-bottom: solid 1px rgb(220, 220, 220);
}

.students-container::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
}

.students-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

/* STUDENT ITEM ALL */

.students-li {
   border-bottom: solid 1px rgb(220, 220, 220);
   background-color: rgb(250, 250, 250);
 }

 .students-li:hover {
   background-color: rgb(235, 245, 255);
   cursor: pointer;
 }


/* STUDENT ITEM CONDENSED */

.condensedView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}


/* STUDENT ITEM EXPANDED */

.students-li .expandedView {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 20px 40px;
   height: 180px;
}

.expandedView img {
  width: 150px;
  height: 150px;
}

.expandedCourses {
  height: 120px;
  width: 340px;
  font-size: 12px;
  background-color: rgb(240, 240, 240);
  overflow: auto;
}

.expandedCourses::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
}

.expandedCourses::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

/* BUTTONS */

.add-button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 5px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: orange;
}

.add-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 3px rgb(180, 180, 180);
}

.edit-button {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 10px 5px;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  background-color: red;
}

.edit-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 3px rgb(180, 180, 180);
}



/* END */
