/* COMPONENT */

.students-comp {
  margin: 30px auto;
  width: 800px;
}

/* COLUMNS LABEL */

.students-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: rgb(235, 235, 235)
}


/* STUDENTS CONTAINER */

.students-container {
  min-height: 0px;
  max-height: 300px;
  overflow: auto;
}

.students-container::-webkit-scrollbar {
  background-color: rgb(235, 235, 235);
}

.students-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}


/* STUDENT ITEM */

.students-li {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 40px;
   border-bottom: solid 1px rgb(220, 220, 220);
}

.students-li:hover {
  background-color: rgb(235, 245, 255);
  cursor: pointer;
  text-decoration: underline;
}



/* END */
